@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@font-face{
  font-family: 'MCFont'; /* Name your font family */
  src: url('path/to/your/font/file.ttf'); /* Locate the .ttf file within your directory*/
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #323838;
    overflow: hidden;
    background-image: url("images/124411.jpeg");
    background-size: cover;
    font-family: 'Play', sans-serif;
}
#fffff{
  position:absolute;
  font-size: 20px;
  color: white;
  transform: translate(930px,420px);
}

#ccccc{
  position:absolute;
  font-size: 20px;
  color: white;
  transform: translate(1150px,420px);
}
.wrapper:hover h2 {
  color: #FF5500;
  animation: animate 7s linear infinite;

}
.removemepls{
  filter: drop-shadow(1px 0px 1px #000000);
}
#removemeplss{
  filter: drop-shadow(1px 0px 1px #000000);

}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.wrapper {
    width: 1500px;
    height: 800px;
    background: #232828;
    box-shadow: 0 0 30px #FF5500;
    border-radius: 45px;
    padding: 50px;
    overflow: hidden;
    
}
.winnerdiv{
  font-size: 45px;
  transform: translateY(-5px);
}
#tw{
  position: absolute;
  color: rgb(255, 255, 255);
  filter: drop-shadow(3px 0px 1px #000000);
  transform: translate(-580px,-415px);
  font-size: 15px;
  font-family: 'Minecraftia', sans-serif;
}

#quickInfo{
  transition: 1s;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 480px;
  height: 480px;
  transform: translate(260px,280px);
}
#allInfo{
  position: absolute;
  width: 680px;
  height: 480px;
  transform: translate(260px,300px);
  transition: 0.3s;
  
}

#finishedcounter{
  filter: drop-shadow(1px 0px 3px #000000);
}
#ancientimage{
  transform: translateY(20px);
  opacity: 60%;
}
#ancient{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  transform: translateY(20px);
  width: 230px;
  height: 130px;
  position: absolute;
  color: black;
}
#de_ancient{
  color: white;
  filter: drop-shadow(.5px 0.5px 2px lime);
}
#anubisimage{
  transform: translateY(175px);
  opacity: 60%;
}
#anubis{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translateY(175px);
}
#de_anubis{
  color:white;
  filter: drop-shadow(.5px 0.5px 2px salmon)
}
#infimage{
  transform: translateY(330px);
  opacity: 60%;
}
#inferno{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translateY(330px);
}
#de_inferno{
  color: white;
  filter: drop-shadow(.5px 0.5px 2px rgb(171, 99, 39))
}
#d2image{
  transform: translate(235px,20px);
  opacity: 60%;
}
#dust2{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translate(235px,20px);
}
#de_dust2{
  color:white;
  filter: drop-shadow(.5px 0.5px 2px skyblue)
}
#mirimage{
  transform: translate(235px,175px);
  opacity: 60%;
}
#mirage{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translate(235px,175px);
}
#de_mirage{
  color:white;
  filter: drop-shadow(.5px 0.5px 2px rgb(215, 183, 0));
}
#nukimage{
  transform: translate(235px,330px);
  opacity: 60%;
}
#nuke{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translate(235px,330px);
}
#de_nuke{
  color: white;
  filter: drop-shadow(.5px 0.5px 2px cyan);
}
#verimage{
  transform: translate(470px,20px);
  opacity: 60%;
}
#vertigoo{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translate(470px,20px);
}
#de_vertigo{
  color:white;
  filter: drop-shadow(.5px 0.5px 2px blue)
}
#de_train{
  color:white;
  filter: drop-shadow(.5px 0.5px 2px brown)
}
#Season51Button{
  height: 200px;
  width: 100px;
  color: white;
}
#buttonspan{
  height: 30px;
  width: 30px;
  background-image: url('https://atomicrecall.github.io/Cipher/images/button.png');
  background-size: cover;             /* Scale the image to fill the button */
  background-position: center;        /* Center the image within the button */
  text-align: center;                /* Center text horizontally */
  font-size: 15px;
  color: white;
  font-weight: bold;
  transform: translate(705px, 20px);
  transition: .3s
}
#spanimg{
  transform: trasnlateX(-10px);
}
#warnn{
  position: absolute;
  filter: drop-shadow(3px 0px 1px #ff0000);
}
#fflink{
  position:absolute;
  font-size: 20px;
  color: white;
  transform: translate(930px,-285px);
}
#chlink{
  position:absolute;
  font-size: 20px;
  color: white;
  transform: translate(930px,-265px);
}
#teamPfp{
  height: 50px;
  width: 50px;
  float: left;
  transform: translate(-10px, 5px);
}
#lgOut{
  transform: translate(5px,45px);
  filter: drop-shadow(3px 0px 1px #000000);
  font-size: 15px;
  color: #ffffff;
  position: absolute;
}
#lgOut:hover {
  text-decoration: underline;
}
.hidden{
  display: none;
}
#stopbutton{
  background-color: grey;
  border-color: grey;
  width: 220px;
  height: 240px;
  transition: 2s;
  position: absolute;
  transform: translate(650px,500px);
}

#buttonnn{
    width: 130px;
    height: 180px;
}
#instruction{
  transform: translateX(500px);
  font-size: 45px;
  color: wheat;
  width: 1000px;
}
.BanFileExplorer{
  display: grid;
  transform: translateY(-220px);
  width: 1480px;
  height: 480px;
  background: #323838;
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
  transition: 1s;
  
}
.scr{
  position: relative;
  font-size: 40px;
  transform: translate(50px,-100px);
  width: 140px;
  pointer-events: none;
  text-align: center;
  color:white;
  
}
.cvr {
  box-sizing: border-box;
  flex: 33.33%;
  padding: 0px;
  width: 80px; 
  height: 150px; 
  object-fit: cover;
  object-position: 50%,50%;
}
.red {
  color: red;
}
.redd{
  color: red;
  filter: drop-shadow(.5px 0.5px 1px black);
  font-size: 25px;
}
.redd1{
  color: red;
  filter: drop-shadow(.5px 0.5px 1px black);
}
.green {
  color: green;
}
.greenn{
  color: green;
  filter: drop-shadow(.5px 0.5px 0.75px black);
  font-size: 25px


}
.greenn1{
  color: green;
  filter: drop-shadow(.5px 0.5px 0.75px black);
  

}
.white{
  color: white;
  filter: drop-shadow(.5px 0.5px 0.75px white);
}
.black {
  color: black;
}
.smalltext {
  color: black;
  position: absolute;
  transform: translateY(-5px);
  font-size: 15px;
  
  
}
.grey{
  color: grey;
}
.greyy{
  color: grey;
  filter: drop-shadow(.5px 0.5px 0.75px black);

}
.dvr{
  box-sizing: border-box;
  flex: 33.33%;
  padding: 0px;
  width: 48px; 
  height: 150px; 
  object-fit: cover;
  object-position: 50%,50%;
}
.pvr{
  height: 150px;
  width: 240px;
}

.scoreinthescore{
  position: relative;
  transform: translate(365px,-165px);
  font-size: 25px;
}
#mtches{
  width: 270px;
  height: 760px;
  scrollbar-width: thin;
  transform: translate(-20px,-10px);
}

h1 {
  display: flex;
  justify-content: center;
  transform: translateY(-55px);
  color: #ffffff;
}
h2{
  width: 400px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size : 50px;
  text-align: center;
  transform: translate(550px,-100px);
}
h3{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  transform: translateY(-180px);
  font-size : 40px;
  filter: drop-shadow(2px 0px 2px black);
  opacity: 0;
  cursor: pointer;

}
#teamBackground{
  transform: translate(-10px,-5px);
  height: 280px;
  width: 1245px;
  filter: blur(1px);
 


}
#img{
  border-radius: 30px;
  transform: translate(10px,20px);
  filter: drop-shadow(0px 0px 10px #6e6e6e);
}

#cvrimg{
  position: absolute;
  pointer-events: none;
  opacity: 100%;
  filter: blur(5px);
  border-radius: 10% / 30%;
}
#elo{
  font-size: 25px;
  color: #ffffff;
  transform: translate(12%,-100px);
}
#teamname{
  font-size: 25px;
  color: #ffffff;
  transform: translate(12%,-90px)
}
#accountCreated{
  font-size: 25px;
  color: #000000;
  transform: translate(178px, -215px);
}
#LastLogged{
  font-size: 25px;
  color: #ffffff;
  transform: translate(12%, -225px);
}
#rtrnBtn{ 
  width: 200px;
  height: 10px;
  transform: translate(10px, -265px);
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  filter: drop-shadow(2px 0px 4px #000000);
}
#rtrnBtn:hover {
  text-decoration: underline;
}

#srchBtn{ 
  width: 40px;
  height: 10px;
  transform: translate(1385px, 10px);
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  filter: drop-shadow(2px 0px 4px #000000);
}

#srchBtn:hover {
  text-decoration: underline;
}
.form-wrapper{
transform: translateY(-120px);
}
#srchboxdiv{
  background-color: black;
  color:white;
}
.avatt{
  transition: 2s;
  pointer-events: none;
  filter: drop-shadow(1px 0px 20px #000000);
}
#pfp{
  height: 80px;
  width: 200px;
  transform: translateY(-150px);
}
.TTmne{
  color: #ffffff;
  filter: drop-shadow(1px 0px 2px #000000);
  font-size : 20px;
}

.divv{
  padding: 5px;
  width: 200px;
  height: 80px;
}

.input-group {
  width: 1480px;
  height: 30px;
  position: relative;
  margin: 20px 0;
  border-radius: 10px;
  font-family: 'Play', sans-serif;
}
.fav{
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  transition: 0.5s;
  filter: drop-shadow(0px .1px 2px white)
  }
.favimg{
  height:30px;
  width:30px;

}
#btnimg {
  height: 40px;
  width: 40px;
  transform: translate(-0.6px);
}
.matchDate{
  position: absolute;
  width: 500px;
  filter: drop-shadow(.1px .1px 2px black);
  filter: drop-shadow(.1px .1px 2px black);
  transform: translate(200px,-200px);
  opacity: 0;

  font-size: 17px;
  pointer-events: none;
}
.divvv{
  padding: 10px;
  width: 200px;
  height: 80px;
  transform : translate(0px,-20px);
}
#tm1pfp{
  position: absolute;
  width:150px;
  height:150px;
  transform: translate(-450px, 80px);
}
#pfpp{
  width: 25px;
  height: 25px;
}
#tm2pfp{
  position: absolute;
  width: 150px;
  height: 150px;
  transform: translate(-200px, 80px);
}
.TEAMPFP{
  position: relative;
  transform: translateX(10px);
  margin: 80px;
  filter: drop-shadow(.5px 0.5px 0.75px black);
  cursor: pointer;
}
.TEAMPFPNAME{
  transform: translate(90px,-80px);
  color: white;
  filter: drop-shadow(2px .1px 2px black)

}
#trainn{
  filter: drop-shadow(.5px 0.5px 0.1px black);
  width: 230px;
  height: 130px;
  position: absolute;
  transform: translate(470px,175px);
}
#captainforthatonethingy{
  height: 75px;
  transform: translate(80px,-230px);
}
#trainimage{
  transform: translate(470px,175px);
}
#PLAYERDIVIDER{
  height: 90px;
  width: 75px;
  position: relative;
}
#WHOLEPLAYERDIVIDER{
  width: 1240px;
  height:280px;
  transform: translate(-10px,-275px);
  display: grid;
  grid-auto-flow: column;
  pointer-events: none;
  
}
#teambackgrounddiv{
  width: 1260px;
  height: 280px;
  position: absolute;
  transform: translateX(260px);
  opacity: 0;
  
}
#VS{
  position: absolute;
  font-size: 50px;
  transform: translate(215px,-180px);
  filter: drop-shadow(.5px 0.5px 0.1px black);
}
#EncompassingDivider{
  width: 730px;
  height: 470px;
  transform: translate(755px,-471px);

}
#imgg{
  position: inherit;
  width: 130px;
  height: 70px;
  transform: translate(6px,-31.5px);
  z-index: -2;
  filter: drop-shadow(.1px 0.5px 3px black);
}
#tm1copy{
  position: absolute;
  z-index: 1;
  transform: translate(-120px,14px);
}
#tm1cop{
  position: absolute;
  z-index: 1;

}
#tm2copy{
  position: absolute;
  z-index: 1;
  transform: translate(110px,42px);
}
#txtt{
  position: inherit;
  left: 5px;
  bottom: -38.5px;
  background-color: #344A60;
  padding-left: 25px;
  padding-right: 25.5px;

}
#loadingbar{
  display: flex;
  color: white;
  font-size: 16px;
  width: 550px;
  overflow : scroll;
  height: 480px;
  transform: translate(-18px,-18px);
  flex-direction: column-reverse;
}
.ssnNum{
  color: white;
}
#finishedbar{
  color: white;
  font-size: 40px;
  width: 35%;
  transform: translate(-20px,-30px);

  
}
#finishedtext{
  color: green;
  font-size: 16px;
  width: 100%;
  overflow-y : scroll;
  overflow-x: hidden;
  height: 730px;
  transform: translate(-9px,-15px);
}
#upcomingmatchesdivider{
  color: white;
  font-size: 20px;
  width: 200px;
  height: 30px;
}
#upcomingmatchestag{
  width:280px;
  height: 30px;

}
#yoursavedteamss{
  height: 30px;
}
#yoursavedteamsdivider{
  color: white;
  font-size: 20px;
  height: 30px;
}
